.login {
    display: grid;
    place-items: center ;
    height: 100vh;
    background-color:black;
}

.login > img {
    width: 25%;
    height: auto;
}

.login > a {
    padding: 20px;
    border-radius: 99px;
    background-color:green;
    color: aliceblue;
    font-weight: 900;
    text-decoration: none;
}